body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-37px;
  width:913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2119 {
  position:absolute;
  left:453px;
  top:32px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2121 {
  position:absolute;
  left:37px;
  top:81px;
  width:912px;
  height:1px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:649px;
}
#u2123 {
  position:absolute;
  left:37px;
  top:81px;
  width:1px;
  height:648px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:316px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2125 {
  position:absolute;
  left:37px;
  top:131px;
  width:912px;
  height:1px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:649px;
}
#u2127 {
  position:absolute;
  left:949px;
  top:81px;
  width:1px;
  height:648px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:316px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:649px;
}
#u2129 {
  position:absolute;
  left:172px;
  top:81px;
  width:1px;
  height:648px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:316px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2131 {
  position:absolute;
  left:86px;
  top:98px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2133 {
  position:absolute;
  left:518px;
  top:97px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2135 {
  position:absolute;
  left:197px;
  top:146px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2137 {
  position:absolute;
  left:339px;
  top:146px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2139 {
  position:absolute;
  left:37px;
  top:177px;
  width:912px;
  height:1px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141 {
  position:absolute;
  left:57px;
  top:146px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2143 {
  position:absolute;
  left:197px;
  top:192px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2144 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2145 {
  position:absolute;
  left:57px;
  top:192px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2146 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2147 {
  position:absolute;
  left:37px;
  top:223px;
  width:912px;
  height:1px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149 {
  position:absolute;
  left:197px;
  top:238px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2150 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2151 {
  position:absolute;
  left:339px;
  top:238px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2153 {
  position:absolute;
  left:496px;
  top:238px;
  width:55px;
  height:16px;
  font-size:14px;
}
#u2154 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2155 {
  position:absolute;
  left:37px;
  top:269px;
  width:912px;
  height:1px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157 {
  position:absolute;
  left:57px;
  top:238px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2158 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2159 {
  position:absolute;
  left:197px;
  top:284px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2160 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2161 {
  position:absolute;
  left:339px;
  top:284px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2162 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2163 {
  position:absolute;
  left:646px;
  top:238px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2165 {
  position:absolute;
  left:803px;
  top:238px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2167 {
  position:absolute;
  left:496px;
  top:284px;
  width:55px;
  height:16px;
  font-size:14px;
}
#u2168 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2169 {
  position:absolute;
  left:646px;
  top:284px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2170 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2171 {
  position:absolute;
  left:37px;
  top:315px;
  width:912px;
  height:1px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:57px;
  top:284px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2174 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2175 {
  position:absolute;
  left:197px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2177 {
  position:absolute;
  left:339px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2178 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2179 {
  position:absolute;
  left:496px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2180 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2181 {
  position:absolute;
  left:646px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2182 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2183 {
  position:absolute;
  left:803px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2184 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2185 {
  position:absolute;
  left:37px;
  top:361px;
  width:912px;
  height:1px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187 {
  position:absolute;
  left:57px;
  top:330px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2188 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2189 {
  position:absolute;
  left:197px;
  top:376px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2190 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2191 {
  position:absolute;
  left:339px;
  top:376px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2192 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2191_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2193 {
  position:absolute;
  left:496px;
  top:376px;
  width:55px;
  height:16px;
  font-size:14px;
}
#u2194 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2195 {
  position:absolute;
  left:646px;
  top:376px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2196 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2197 {
  position:absolute;
  left:37px;
  top:407px;
  width:912px;
  height:1px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199 {
  position:absolute;
  left:57px;
  top:376px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2200 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2201 {
  position:absolute;
  left:197px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2203 {
  position:absolute;
  left:339px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2204 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2205 {
  position:absolute;
  left:496px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2206 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2207 {
  position:absolute;
  left:646px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2208 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2207_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2209 {
  position:absolute;
  left:803px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2210 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2211 {
  position:absolute;
  left:37px;
  top:453px;
  width:912px;
  height:1px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213 {
  position:absolute;
  left:57px;
  top:422px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2214 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2213_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2215 {
  position:absolute;
  left:197px;
  top:468px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2216 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2215_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2217 {
  position:absolute;
  left:339px;
  top:468px;
  width:110px;
  height:16px;
  font-size:14px;
}
#u2218 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u2217_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2219 {
  position:absolute;
  left:496px;
  top:468px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2220 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2219_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2221 {
  position:absolute;
  left:57px;
  top:468px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2222 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2221_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2223 {
  position:absolute;
  left:37px;
  top:499px;
  width:912px;
  height:1px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225 {
  position:absolute;
  left:197px;
  top:514px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2226 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2227 {
  position:absolute;
  left:339px;
  top:514px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2228 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2229 {
  position:absolute;
  left:496px;
  top:514px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2230 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2229_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2231 {
  position:absolute;
  left:57px;
  top:514px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2232 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2233 {
  position:absolute;
  left:37px;
  top:545px;
  width:912px;
  height:1px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235 {
  position:absolute;
  left:197px;
  top:560px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2236 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2237 {
  position:absolute;
  left:37px;
  top:591px;
  width:912px;
  height:1px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239 {
  position:absolute;
  left:57px;
  top:560px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2240 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2241 {
  position:absolute;
  left:197px;
  top:606px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2242 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2243 {
  position:absolute;
  left:339px;
  top:606px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2244 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2245 {
  position:absolute;
  left:57px;
  top:606px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2246 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2247 {
  position:absolute;
  left:37px;
  top:634px;
  width:912px;
  height:1px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:197px;
  top:649px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2250 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2251 {
  position:absolute;
  left:57px;
  top:649px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u2252 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2251_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2253 {
  position:absolute;
  left:37px;
  top:680px;
  width:912px;
  height:1px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255 {
  position:absolute;
  left:57px;
  top:695px;
  width:100px;
  height:16px;
}
#u2256 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2255_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2257 {
  position:absolute;
  left:197px;
  top:691px;
  width:100px;
  height:25px;
}
#u2257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u2258 {
  position:absolute;
  left:37px;
  top:728px;
  width:912px;
  height:1px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
